@CHARSET "ISO-8859-1";

.menu{
    /*Bordes redondeados*/
    -webkit-border-radius:10px;/*Para chrome y Safari*/
    border-radius:10px;/*El estandar por defecto*/
     /*Degradados*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8080ff), to(#8080ff));/*Para chrome y Safari*/
    background-image: linear-gradient(top, #8080ff, #8080ff);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:95%;
}

.menu{/*Estilo para el despegable*/
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

.menu > li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Helvetica;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
}


.menu li:hover{  /*:Hover es para cuando pasas el puntero realice un efecto*/
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8080ff), to( #8080ff));/*Chrome y Safari*/
    background-image: linear-gradient(top, #8080ff, #8080ff);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #8080ff;/*Chrome y Safari*/
    box-shadow:  1px -1px 0px #8080ff;/*Estandar por defecto*/
    border:1px solid #8080ff;
}

.menu li a{
    color:#000000;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li a:hover{
    color:#000000;
}

.menu li ul { /*para que los submenu se oculten*/
	display:none;
	position:absolute;
	min-width:140px;
}

.menu li:hover > ul { /*para que se vea el submenu oculto*/
	list-style:none;
	display:block;
	position:absolute;
}

.menu li:hover > ul {
    color:#000000;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    transition: 0.4s linear all;
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #8080ff;/*Chrome y Safari*/
    box-shadow:  1px -1px 0px #000000;/*Estandar por defecto*/
    border:1px solid #8080ff;
     /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    border-radius:5px;/*Estandar por defecto*/
}
