@CHARSET "ISO-8859-1";

img {
   width: 100%;
}
#menu {
list-style-type: none;
margin-left: auto;
margin-right: auto;
height: 50px;
}

#menu li {
position: relative;
float: left;
background-color: #93a613;
}

#menu li a {
padding: 6px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #666;
color: #f5f9de;
text-decoration: none;
display: block;
}
/*es para el submenu del despegable*/
#menu li a:hover {
background-color: #93a613;
}

#menu ul {
position: absolute;
z-index: 99999;
display: none;
list-style-type: none;
list-style: none;
margin: 0;
padding: 0;
width:90px;
}

#menu ul li a {
background-color: #cbdd54;
border-bottom-width: 1px;
border-right-style: none;
border-bottom-style: solid;
border-bottom-color: #BEC1DA;
}

#menu ul li a:hover {
background-color: #93a613;
}

#menu li:hover > ul{
display: block;
}